<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistem Iuran BEM</title>

    <!-- Bootstrap core CSS-->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">

    <link th:href="@{/fonts}" rel="stylesheet">

</head>

<body id="page-top" style="background: #f5f5f5">

<nav class="navbar navbar-expand navbar-white bg-white static-top">

    <a class="navbar-brand mr-1" th:href="@{/index}"style="color: deepskyblue">
        <img th:src="@{/download.png}" width="75px">
        Sistem Iuran Badan Eksekutif Mahasiswa
    </a>

    <button class="btn btn-link btn-sm text-deepskyblue order-5 order-sm-0" id="sidebarToggle" href="#" style="color: deepskyblue;">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-8">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: deepskyblue">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: deepskyblue">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: deepskyblue">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav" style="background: white">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/index}" style="color: deepskyblue">
                <i class="fas fa-fw fa-tachometer-alt" style="color: deepskyblue"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/payment}" style="color: deepskyblue">
                <i class="fas fa-fw fa-money-bill" style="color: deepskyblue"></i>
                <span>Payment</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/data}" style="color: deepskyblue">
                <i class="fas fa-fw fa-database" style="color: deepskyblue"></i>
                <span>Data Mahasiswa</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/pengumuman}" style="color: deepskyblue">
                <i class="fas fa-fw fa-newspaper" style="color: deepskyblue"></i>
                <span>Pengumuman</span></a>
        </li>
    </ul>

    <!-- Breadcrumbs-->
    <div id="content-wrapper">
        <ol class="breadcrumb" style="background: #f5f5f5">
            <li class="breadcrumb-item" style="background: #f5f5f5">
                <a th:href="@{/index}" style="color: deepskyblue" class="fas fa-home">  Home</a>
            </li>
            <li class="breadcrumb-item active">Payment</li>
        </ol>
        <hr>
        <div class="container-fluid">
            <h2 th:text="${pengumuman.judul}"></h2>
            <p  th:text="${pengumuman.isi}"></p>
            <div>
                <a class="btn btn-info" th:href="${'/bendaharabem/pengumuman/edit/' +pengumuman.id}" style="background: deepskyblue">Edit</a>
            </div>
        </div>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" th:href="@{/login}">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Page level plugin JavaScript-->
        <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
        <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin.min.js}"></script>

        <!-- Demo scripts for this page-->
        <script th:src="@{/js/demo/datatables-demo.js}"></script>
        <script th:src="@{/js/demo/chart-area-demo.js}"></script>

</body>

</html>
